<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <jmxConfigurator/>

  <property name="APP_NAME" value="java-sandbox"/>
  <property name="LOG_LOCATION" value="/local/logs/spring-boot/sandboxapp"/>
  <property name="LOG_FILE_SIZE" value="100MB"/>
  <property name="ERROR_LOG_FILE_SIZE" value="100MB"/>
  <property name="LOG_PATTERN"
            value="%d{yyyy.MM.dd HH:mm:ss z} [%-5level] [%lo{1}]%X{transactionInfo}%X{akkaSource} %msg%n"/>

  <springProfile name="local, test">
    <property name="CONSOLE_LOG_PATTERN" value="${LOG_PATTERN}"/>
    <property name="LOG_LOCATION" value="./build/logs"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  </springProfile>

  <springProfile name="qa, prod">
    <property name="LOG_LOCATION" value="/local/logs/spring-boot"/>
  </springProfile>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_LOCATION}/${APP_NAME}.log</File>
    <Append>true</Append>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${LOG_LOCATION}/${APP_NAME}.%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>${LOG_FILE_SIZE}</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${LOG_PATTERN}</Pattern>
    </layout>
  </appender>

  <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_LOCATION}/${APP_NAME}-error.log</File>
    <Append>true</Append>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${LOG_LOCATION}/${APP_NAME}-error.%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>10</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>${ERROR_LOG_FILE_SIZE}</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>${LOG_PATTERN}</Pattern>
    </layout>
  </appender>

  <springProfile name="local, test">
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <springProfile name="qa">
    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="FILE-ERROR"/>
    </root>
  </springProfile>

  <logger name="org.springframework">
    <level value="INFO"/>
  </logger>

  <logger name="com.ihg">
    <level value="INFO"/>
  </logger>

</configuration>
